/.vs

/Properties/PublishProfiles

/bin
/obj

.DS_Store
Thumbs.db

dist/
build/
out/

.env
.env.local
.env.production
.env.*.local

.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

*.swp
*.lock
*.bak
*.tmp

package-lock.json
yarn.lock
pnpm-lock.yaml

Dockerfile
Dockerfile.*

docker-compose.yml
docker-compose.override.yml
docker-compose.*.yml

.env.docker

.docker/
docker/

*.user